# c# stuff
**/bin/
**/obj/
/packages/

# github shit
/.github/

# some ide stuff
/.idea/
.idea/
/.vs/
/.vscode/

# resharper and rider shit
/_ReSharper.Caches/
riderModule.iml

# writerside output
Docs/out/

# idk
NeoKolors.sln.DotSettings.user