<FontConfig xmlns="https://krykomdev.github.io/NeoKolors/Schemas/Fonts/v3/">
    <Name>Dummy</Name>
    <Ligatures>true</Ligatures>
    <LetterSpacing>2</LetterSpacing>
    <Leading>5</Leading>
    <Variable>
        <Kerning>true</Kerning>
        <WordSpacing>5</WordSpacing>
    </Variable>
    <Defaults>
        <AlignPointMarkers>+*</AlignPointMarkers>
        <Mask>custom-bckg: 'b'</Mask>
    </Defaults>
</FontConfig>